# Los Angeles Airbnb Analysis
Analyzes data about Airbnb listings in Los Angeles from a public data set from Kaggle.

### Imports

In [13]:
%matplotlib inline

import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import text
import pandas as pd

import matplotlib as mpl
import matplotlib.pyplot as plt

### Data Extract
Pulls data from the bi tables and loads the tables into csv files for analysis.

In [14]:
engine = create_engine('postgresql://spotts:admin@localhost:5432/airbnb')

pl_query_string = '''select * from bi.property_listing;'''
host_query_string = '''select * from bi.host;'''
clean_string = '''select * from staging.listings_cleaned;'''

with engine.connect() as conn:
    pl_results = conn.execute(text(pl_query_string))
    host_results = conn.execute(text(host_query_string))
    clean_results = conn.execute(text(clean_string))

pl_df = pd.DataFrame(pl_results)
host_df = pd.DataFrame(host_results)
clean_df = pd.DataFrame(clean_results)

pl_df.to_csv(r'bi_property_listing.csv', index=False)
host_df.to_csv(r'bi_host.csv', index=False)
clean_df.to_csv(r'clean_listings.csv', index=False)

### Data Exploration
These tables made analysis more difficult, so after exploration, the analysis focuses on using the data from `staging.listings_cleaned`.

In [3]:
host_df.head()

,host_id,host_name,host_since,host_response_time,host_response_rate,host_is_superhost,created_at,updated_at
0,18101163,Matthew,None,None,None,False,2024-11-21 04:45:30.320351,2024-11-21 04:45:30.320351
1,320034035,Viden,None,None,None,False,2024-11-21 04:45:30.320351,2024-11-21 04:45:30.320351
2,47900003,Patricia,None,None,None,False,2024-11-21 04:45:30.320351,2024-11-21 04:45:30.320351
3,36097032,Chen,None,within an hour,1.00,True,2024-11-21 04:45:30.320351,2024-11-21 04:45:30.320351
4,39065543,Emma,2015-07-20,None,None,False,2024-11-21 04:45:30.320351,2024-11-21 04:45:30.320351

In [4]:
host_df.describe()

,host_id,created_at,updated_at
count,2.320200e+04,23202,23202
mean,1.690913e+08,2024-11-21 04:45:30.320350976,2024-11-21 04:45:30.320350976
min,5.210000e+02,2024-11-21 04:45:30.320351,2024-11-21 04:45:30.320351
25%,2.109060e+07,2024-11-21 04:45:30.320350976,2024-11-21 04:45:30.320350976
50%,8.587001e+07,2024-11-21 04:45:30.320350976,2024-11-21 04:45:30.320350976
75%,2.893176e+08,2024-11-21 04:45:30.320350976,2024-11-21 04:45:30.320350976
max,5.997497e+08,2024-11-21 04:45:30.320351,2024-11-21 04:45:30.320351
std,1.811504e+08,NaN,NaN

In [5]:
pl_df.head()

,property_id,host_id,listing_name,property_type,room_type,license,neighborhood,neighborhood_group,latitude,longitude,accommodates,bathrooms,beds,price,minimum_nights,availability_365,number_of_reviews,review_scores_rating,created_at,updated_at
0,1048204888342780273,211899887,Cozy Knight,Private room in rental unit,Private room,None,Vernon,Other Cities,34.005420,-118.235350,2,1.0,1.0,67.0,1,260,3,5.00,2024-11-21 04:45:39.218024,2024-11-21 04:45:39.218024
1,1236191020986832316,5962546,1BR Bungalow - 10 min to beach!,Entire home,Entire home/apt,None,Torrance,Other Cities,33.839332,-118.322293,2,1.0,1.0,100.0,31,364,0,None,2024-11-21 04:45:39.218024,2024-11-21 04:45:39.218024
2,975290049077422683,496789986,Legacy Haven,Entire home,Entire home/apt,None,Westmont,Unincorporated Areas,33.935926,-118.312515,8,2.0,2.0,183.0,2,263,30,4.33,2024-11-21 04:45:39.218024,2024-11-21 04:45:39.218024
3,1092390555582066892,551467428,The Getaway,Entire home,Entire home/apt,None,Glendale,Other Cities,34.171780,-118.227280,3,1.0,2.0,149.0,2,71,14,5.00,2024-11-21 04:45:39.218024,2024-11-21 04:45:39.218024
4,7459002,39065543,Charming Bungalow in Echo Park,Entire bungalow,Entire home/apt,None,Westlake,City of Los Angeles,34.065110,-118.262550,2,NaN,NaN,NaN,30,0,0,None,2024-11-21 04:45:39.218024,2024-11-21 04:45:39.218024

In [6]:
pl_df.describe()

,property_id,host_id,accommodates,bathrooms,beds,price,minimum_nights,availability_365,number_of_reviews,created_at,updated_at
count,4.553300e+04,4.553300e+04,45533.000000,37294.000000,37199.000000,37296.000000,45533.000000,45533.000000,45533.000000,45533,45533
mean,5.208941e+17,1.950473e+08,4.019876,1.713117,2.255786,289.377762,17.858520,195.093449,36.658929,2024-11-21 04:45:39.218023680,2024-11-21 04:45:39.218023680
min,1.090000e+02,5.210000e+02,1.000000,0.000000,0.000000,5.000000,1.000000,0.000000,0.000000,2024-11-21 04:45:39.218024,2024-11-21 04:45:39.218024
25%,3.319485e+07,2.632699e+07,2.000000,1.000000,1.000000,98.000000,2.000000,75.000000,0.000000,2024-11-21 04:45:39.218023936,2024-11-21 04:45:39.218023936
50%,6.363561e+17,1.165631e+08,3.000000,1.000000,2.000000,155.000000,14.000000,202.000000,6.000000,2024-11-21 04:45:39.218023936,2024-11-21 04:45:39.218023936
75%,1.006571e+18,3.712316e+08,6.000000,2.000000,3.000000,260.000000,30.000000,335.000000,34.000000,2024-11-21 04:45:39.218023936,2024-11-21 04:45:39.218023936
max,1.238217e+18,5.997497e+08,16.000000,50.000000,50.000000,56425.000000,1124.000000,365.000000,3024.000000,2024-11-21 04:45:39.218024,2024-11-21 04:45:39.218024
std,4.976570e+17,1.899825e+08,2.861610,1.285068,1.811313,715.366985,28.836101,133.394403,80.548528,NaN,NaN

In [7]:
pl_df.groupby('neighborhood_group')['price'].aggregate('mean')

neighborhood_group
City of Los Angeles     298.519448
Other Cities            292.292819
Unincorporated Areas    232.456102
Name: price, dtype: float64

## Questions
- Do superhosts have higher response rates?
- Do superhosts have higher review scores than non-superhosts?
- Do superhosts have a higher rate of licenses than non-superhosts?
- Do superhosts with higher response rates get better reviews?
- How many properties do hosts have?
- Do listings with higher prices have a higher availability?
- What are the average prices in the different neighborhood areas?
- Do properties with higher minimum nights have more vacancy?

### Superhosts vs Non-Superhosts

**What's the breakdown of superhosts vs non-superhosts?**

In [8]:
clean_df['host_is_superhost'].value_counts()

host_is_superhost
False    27613
True     16668
Name: count, dtype: int64

**What are the most popular response time bands for superhosts and non-superhosts?**

In [9]:
grouped = host_df.groupby(['host_is_superhost', 'host_response_time']).size().reset_index(name='count')
sorted_grouped = grouped.sort_values(by='count', ascending=False)
sorted_grouped

   host_is_superhost  host_response_time  count
7               True      within an hour   5932
3              False      within an hour   4199
2              False  within a few hours   1427
1              False        within a day    945
6               True  within a few hours    913
0              False  a few days or more    685
5               True        within a day    252
4               True  a few days or more     11

In [10]:
clean_df.head()

,id,name,host_id,host_name,host_since,host_response_time,host_response_rate,host_is_superhost,neighbourhood_cleansed,neighbourhood_group_cleansed,...,bathrooms,bedrooms,beds,price,minimum_nights,availability_365,number_of_reviews,review_scores_rating,license,instant_bookable
0,670339032744709144,Westwood lovely three bedrooms three bathrooms,4780152,Moon,2013-01-20,within a few hours,0.96,False,West Los Angeles,City of Los Angeles,...,3.0,3.0,3.0,399.0,30,365,0,None,None,False
1,1024835174766068422,Charming Beverly Hills Home,513813179,Tiana,2023-05-08,within a day,0.60,False,Beverly Hills,Other Cities,...,3.0,3.0,3.0,434.0,30,267,0,None,None,False
2,850744632375448560,Tianpu's warm room with bathroom,432956623,Dan,2021-11-22,a few days or more,0.20,False,Temple City,Other Cities,...,1.0,1.0,1.0,49.0,1,364,1,3.00,None,False
3,23584526,See LA in Style from This Chic Mini Apartment,18712500,Jean-Yves,2014-07-23,within an hour,1.00,True,Encino,City of Los Angeles,...,1.0,1.0,2.0,95.0,30,318,65,4.89,None,True
4,1218822875487090507,Luxury Beach Getaway.,176922215,Marqwisha,2018-03-06,within an hour,1.00,False,Long Beach,Other Cities,...,2.0,2.0,2.0,257.0,1,11,0,None,Exempt,True

**Do superhosts have higher response rates?**  
Superhosts have a higher response rate than non-superhosts by about 8%.

In [11]:
clean_df.groupby(['host_is_superhost'])['host_response_rate'].aggregate('mean')

host_is_superhost
False    0.915184
True     0.991471
Name: host_response_rate, dtype: object

**Do superhosts have higher rates of having licenses on their properties vs non-superhosts?**  
No, non-superhosts actually have more licenses than superhosts (exluding exemptions).

In [17]:
filtered_na_licenses_df = clean_df[clean_df['license'].notna() & (clean_df['license'] != 'Exempt')]

grouped = filtered_na_licenses_df.groupby(['host_is_superhost']).size().reset_index(name='count')
grouped

   host_is_superhost  count
0              False   5923
1               True   5409

**How many properties do hosts have?**  
Most hosts have just one property, but almost 3,000 hosts have 2 properties and a number of them have many more.

In [33]:
distinct_property_counts = clean_df.groupby('host_id')['id'].nunique().reset_index(name='distinct_properties')

property_distribution = distinct_property_counts['distinct_properties'].value_counts().reset_index(name='host_count')
property_distribution.columns = ['distinct_property_count', 'host_count']
property_distribution.sort_values(by='distinct_property_count', ascending=False)

property_distribution[property_distribution['distinct_property_count'] <= 15]

    distinct_property_count  host_count
0                         1       17225
1                         2        2953
2                         3        1117
3                         4         556
4                         5         343
5                         6         206
6                         7         130
7                         8         114
8                         9          88
9                        10          56
10                       11          50
11                       12          45
12                       13          35
13                       14          32
14                       15          30

In [40]:
property_distribution['distinct_property_count']

SyntaxError: unmatched ']' (3470015708.py, line 1)